
/* 共通 */
*{  
    background-color: #FAF9F6;
}

.u-tit01{
    margin: 30px 0px 0px;
    font-size: 24px;
}

.u-tit02{
    margin: 15px 0px 0px;
    font-size: 16px;
}

.u-tit03{
    font-size: 20px;
    font-weight: 500;
}

.u-tit04{
    font-size: 24px;
    margin: 2% 0 0 ;
}

  h2 {
    font-size: 45px;
  }

/* webサイトパディング */
.p-top01_inner_block, .p-top02, .p-top03, .p-top04, .p-top05{
    padding:5% 10%
}

/*================== メディクエリ =========================*/

@media only screen and (max-width: 1000px) {
    .u-tit01{
        text-align: center;
    }
    .u-tit02{
        text-align: center;
    }
    .u-tit03{
        text-align: center;
    }
    .u-tit04{
        text-align: center;
        font-size: 5vw;
    }
    h2{
        text-align: center;
    }
}
@media only screen and (max-width: 400px) {
    h2{
        text-align: center;
        font-size: 30px;
    }
}

/* ===============スクロールすると下線部が引かれる============= */
  .headline {
    position: relative;
  }
  
  .headline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0%;
    height: 4px;
    background: #ABA89A;
    transition: all 1.5s;
  }
  
  .headline.isActive:after {
    width: 100%;
  }


  /*＝＝＝＝＝＝＝＝＝スクロール時アニメーション＝＝＝＝＝＝＝＝＝*/
  .fadeUpTrigger{
    opacity: 0;
    }

    .fadeUp {
        animation-name: fadeUpAnime;
        animation-duration:2s;
        animation-fill-mode:forwards;
        opacity: 0;
    }
    @keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    } 



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝0ページ目 ＝＝＝＝＝＝＝＝＝＝*/
/* 目次 参考https://rilaks.jp/blog/popup-css/ */
#popup {
    display: none; /* label でコントロールするので input は非表示 */
  }
  
.popup-open {
   cursor: pointer;  /* マウスオーバーでカーソルの形状を変える */
    position: fixed;
    right: 20px; 
    width: 10vw;
    top: -1vw;
    z-index: 99998; /*目次なので目次メニューの次に前に来るようにする */
  }
.open-phone, .close-phone{
    display: none;
}

.popup-open img, .popup-close img{
   background-color: rgba(255, 255, 255, 0);  /* 目次の画像背景透過 */
  }
  
.popup-overlay {
    /* input にチェックが入るまでは非表示 */
    display: none; 
  }

#popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  
.popup-window { 
    width: 100vw;
    height: 100vh;
    display: flex;    /* ロゴと目次を横並びにする */
    justify-content: center;
    align-items: center;
    transition:  1s;
    background:rgba(74,166,219,0.8);
    animation: fadeIn 1s ease 0s 1 normal backwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 @keyframes fadeOut {
    0% {
       opacity: 1;
       transform: translateY(0);
    }
    100% {
       opacity: 0;
       transform: translateY(-20px);
    }
  }

  .popup-text {
    margin: 0vw 10vw;
    font-size: 2vw ;
    font-size:min(24px);

  }
.popup-text-list{
    margin:5vh
}

  .popup-close{
    cursor: pointer;
    position: absolute;
    right: 20px; 
    width: 10vw;
    top: -1vw;
  }  

  
  @media only screen and (max-width: 1000px){
    .popup-window{
        display: flex;
        flex-direction: column;
    }

    .popup-open, .popup-close {
    width: 10vw;
    right: 0px;
    top: 10vh;
   }
    .open-phone, .close-phone{
    display:block;
}
    .open-pc, .close-pc{
    display: none;
}

}

/*＝＝＝＝＝＝＝＝＝ 1ページ目＝＝＝＝＝＝＝＝ */
.p-title{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p-title-pic{
    width: 70%;
}

.p-title-pic-phone{
    display: none;
}

@media only screen and (max-width: 1000px) {

    .p-title-pic{
        display: none;
    }
    .p-title-pic-phone{
        display: block;
        width: 70%;
    }
}


/*＝＝＝＝＝＝＝＝２ページ目＝＝＝＝＝＝＝＝ */

.p-top01-map{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5% 0 0 0;
}

/* ＝＝＝＝＝＝＝＝＝3ページ目 ＝＝＝＝＝＝＝＝*/


/* 全部の箱　横並びにする */
.p-top02-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /* ４つの箱  子要素縦表示*/
.p-top02-item-bf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: auto;
    border: 1px solid;
    border-radius: 5%;
    }

    /* ４つの箱の上側二つ　子要素横にする */
.p-top02-item-train{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
        /* 四つのハコの左上 */
.p-top02-item-train01{
    width: 50%;
    height: 100%;
    padding: 0px 20px;
}
        /* 四つのハコの右上 */
.p-top02-item-train02{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

    /* 4つの箱の下二つ 子要素横にする*/
.p-top02-item-car{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 1px black solid;
}
        /* ４つの箱左下 */
.p-top02-item-car01{
    height: 100%;
    width: 50%;
    padding: 0px 20px;
}
        /* ４つの箱右下 */
.p-top02-item-car02{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

.p-top02-carmap{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5%;
    font: 24px bold;
    margin:20%;
    text-align: center;
}

.p-top02-item-car02 img, .p-top02-item-train02 img{
    border-radius: 10%;
    max-width: 100%;

}
.car-pic{
    display: none;
    background-color: rgba(225,225,225,0.0);
}

@media only screen and (max-width: 1000px) {
    .p-top02-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; 
    }

    .p-top02-item-bf{
        border: none;
        border-radius: 0%;
        width: 100vw;
        height: auto;
    }

    .p-top02-item-train{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

    }
    .p-top02-item-car{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        border-top: none;
    }
    .p-top02-item-train01{
        width: 100%;
        height: 100%;
        padding: 0% 10%;
    }
    .p-top02-item-car01{
        height: 50%;
        width: 100%;
        padding: 0px 20px;
    }
    .p-top02-item-car02 img, .p-top02-item-train02 img{
        max-width: 150%;
        margin: 5vh;
    }
    .car-pic{
        display: block;
    }
}



.p-top02-item-hukidashi{
    position: relative;
    display: inline-block;
    margin: 1.5em ;
    padding: 10px 30px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background:#75CCF9;
    border-radius: 15px;
  }
  
  .p-top02-item-hukidashi:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 7px solid transparent;
    border-top: 15px solid #75CCF9;
  } 

    /* 横の箱３つ */
.p-top02-item-side{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center
}

.p-top02-item-walk, .p-top02-item-bus, .p-top02-item-bicycle{
    background-color:white;
    border:1px black solid;
    border-radius: 2%;
    padding: 0px 20px;
    margin: 0 0 30px 20px;
}

/*細かい装飾 スタンプのところ*/
.pic_bus{
    width: 30%;
    position:relative;
    left: 60%;
    background-color: rgba(225,225,225,0.0);
    animation: drive 1s ease 0.5s forwards; 
}


.busDriveTrigger{
    opacity: 0;
    }
.busDrive {
    animation-name:busAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes busAnime{
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
} 

.pic_bicycle{
    width: 30%;
    background-color: rgba(225,225,225,0.0);
    position:relative;
    left: 60%;
}

.bicycleRideTrigger{
    opacity: 0;
    }

.bicycleRide {
    animation-name:bicycleAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes bicycleAnime{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    } 

.pic_camera{
    width: 20%;
    background-color: rgba(225,225,225,0.0);
    position:relative;
    left: 65%;

}
.cameraMoveTrigger{
    opacity: 0;
    }

.cameraMove {
    animation-name:cameraAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes cameraAnime{
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    } 

/*アニメーション*/

@media only screen and (max-width: 1000px) {
    .p-top02-item-side{
        width: 70vw;
        height: auto;
    }

    .pic_bus, .pic_bicycle{
        width: 20%;
    }
    
    .pic_camera{
        width: 15%;
    }
}


/* ＝＝＝＝＝＝＝＝3ページ目 ＝＝＝＝＝＝＝＝＝＝＝*/
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.p-top03-shops{
    width: 26vw;
    height: 60vh;
    padding: 20px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 5%;
    background-color:#E7E5E0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.p-top3-shopstitle{
    font: 24px bold;
    text-align: center;
}

.silder02{
    display: flex;
}

.shops{
    width: 100%;
    height:50%;
    object-fit: cover;
}

.fa-solid {
    color: #0B619E;
}

/*ペリーさんのところ、かもめたち*/

.p-top03-shops-decolate-peri{
    display: flex;
    justify-content:center ;
    align-items: center;
    position: relative;
    height: 25%;
}

.ship{
    background-color: rgba(225,225,225,0.0);
    height:100%;
    width: auto;
    position: relative;
    bottom: -30%;
    left:20% ;

}
.kamome1{
    background-color: rgba(225,225,225,0.0);
    height:20%;
    position: relative;
    bottom: 10%;
    right: 5%;

}

.kamome2{
    background-color: rgba(225,225,225,0.0);
    height: 20%;
    position:relative;
    bottom: 5%;
    left: 10%;
}
@media only screen and (max-width: 1200px) {
    .silder02{
    display: block;
    }
    .p-top03-shops{
        width: 70vw;
        height: auto;
        padding: 20px;
        margin: 20px;    }
    
    .txt-hide{
       display: none;
       }
       
    button.more {
       width: 120px;
       margin: 20px auto;
       display: block;
       background-color: #666;
       color: #fff;
       padding:10px 15px;
       border: none;
       outline: 0;
       transition: .5s;
       -erbkit-transition: .5s;
       }
        
    button.more::after {
       content: "もっと見る";
       transition: .2s;
       -erbkit-transition: .2s;
       }
       
    button.more.on-click::after{
       content: "閉じる";
       }

       /*デコレーション*/
    .p-top03-shops-decolate-peri{ 
        display: flex;
        justify-content:center ;
        align-items: center;
        height: 30vw;
    }

    .ship{
        background-color: rgba(225,225,225,0.0);
        height:50%;
        width: auto;
        position: relative;
        bottom: -20%;
        left:20% ;

    }
    .kamome1{
        background-color: rgba(225,225,225,0.0);
        height:10%;
        position: relative;
        bottom: 10%;
        right: 5%;

    }

    .kamome2{
        background-color: rgba(225,225,225,0.0);
        height: 10%;
        position: relative;
        left: 10%;
    }
        }





/* ＝＝＝＝＝＝＝＝〜4ページ目 　参考 https://jito-site.com/loop-text-image-animation/ 。＝＝＝*/

.loop02 {
    display: flex;
    overflow: hidden;
}
.loop02__box {
    display: flex;
    animation: loop-list 200s linear infinite;
}

@keyframes loop-list {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.loop02__item a {
    width: calc(100vw / 3);
    display: block;
}
.loop02__item img {
    width: 100%;
    border: 0.5px solid black;
}

.loop02:hover .loop02__box {
    animation-play-state: paused;
}

/* ＝＝＝＝＝＝5ページ目＝＝＝＝＝＝＝*/

.p-top05-box{
    display: flex;
    justify-content:center;
    margin: 24px 0px 0px 0px;
}

.p-top05-shimoda{
    width: 50%;
    margin-right: 50px;
}

.p-top05-izu{
    width: 50%;
}

.p-top05_link{
    display: inline-block;
    border: 1px black solid;
    padding: 10px 30px;
    border-radius: 5%;
}

.pic_sandal, .pic_suna{
    width: 30%;
    margin: 30% 0 0 30%
}



@media only screen and (max-width: 1000px) {
    .p-top05-box{
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }
    .p-top05-shimoda{
        width: 100%;
        margin-right: 0px;
    }
    
    .p-top05-izu{
        width: 100%;
    }

    .pic_sandal{
        width: 20%;
        margin: 0 0 0 30%;
    }
    
    .pic_suna{
        width: 20%;
        margin: 0 0 0 0
    }
    
}

/* フッター */

.l-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-footer_inner{
    margin:10px 11px ;
}

.l-footer_inner-pic{
    width: 30vw;
    background-color:rgba(225,225,225,0.0) ;
}